<div class="student-topic">Instructor:  <%= @current_user.teacher.name %></div>

<div class="student-topic">Current Topic:  <%= @current_user.current_topic_title %></div>

<div>
  <table class="score-blocks">
    <tbody>
      <tr>
        <% ["Totally lost", "Really confused", "Not sure I'm following", "Go over that again", "Makes sense", "I got this"].each_with_index do |word, counter| %>
          <% array_of_words =  %>
          <td><%= button_to counter+1, scores_path(score: {score: counter+1,
              topic_id: @current_user.teacher.current_topic_id,
              student_id: @current_user.id}),
              class: "score", id: "score_#{counter+1}", method: :post, remote: true %>
              <div class="tip"><%= word %></div>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>

<!-- ["Put me on a milk carton", "Throw me a life preserver", "Brain is starting to melt", "Steady...steady", "I think I can...I think I can", "Nailed it"] -->
