<h3>My Teacher: <%= @current_user.teacher.name %></h3>

<h3>Current Topic: <%= @current_user.current_topic_title %></h3>

<table>
  <tbody>
    <tr>
      <% (1..6).each do |counter| %>
        <td><%= button_to counter, scores_change_path(score: {score: counter, topic_id: @current_user.teacher.current_topic_id, student_id: @current_user.id}), class: "score", method: :patch, remote: true %></td>      <% end %>
    </tr>
  </tbody>
</table>
