<div class="student-topic">Instructor: <%= @current_user.teacher.name %></div>

<div class="student-topic">Current Topic: <%= @current_user.current_topic_title %></div>

<div>
  <table>
    <tbody>
      <tr>
        <% (1..6).each do |counter| %>
          <td><%= button_to counter, scores_path(score: {score: counter,
              topic_id: @current_user.teacher.current_topic_id,
              student_id: @current_user.id}),
              class: "score", method: :post, remote: true %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
