<div id= "teacher_button">
  <p class="avg-heading">Average</p>
  <p class="teacher-score"><%= @topic_scores.average(:score).to_f %></p>
  <p class="numscore-heading">Number of Scores</p>
  <p class="score-count"><%= @topic_scores.count %></p>
</div>
