  <div class="avg-heading">Average Score for <%= @topic.title %></div>
  <div class="teacher-score"><%= @topic.score_average.round(1) %></div>
  <div class="empty-topic">Students Scoring: <%= @topic.score_count %></div>
