  <div class="avg-heading">AVERAGE</div>
  <div class="teacher-score"><%= @topic.score_average.round(1) %></div>
  <div class="score-count">NUMBER OF STUDENTS THAT SUBMITTED SCORES: <%= @topic.score_count %></div>
