<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <%= link_to 'STUDENT TOPICS', student_path(@current_user), class: "nav-bar-left" %>

        <ul class="pure-menu-list">
            <h1 class="teacher-nav-head"> Welcome back <%= @current_user.name %></h1>
            <%= link_to 'LOGOUT', logout_path, method: :delete, class: "nav-bar-right" %>
        </ul>
    </div>
</div>

<div class="splash-container">
  <div class="student-splash">

    <h1 class="student-splash-head">STUDENT DASHBOARD</h1>

    <div id='student_button'>
      <%= render 'score_table' %>
    </div>

  </div>
</div>
