<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <ul class="pure-menu-list">
          <%= link_to 'Topics Graph', student_path, class: "pure-button pure-button-primary" %>
          <%= link_to 'HOME', login_path, class: "pure-button pure-button-primary" %>
          <%= link_to 'LOGOUT', logout_path, method: :delete, class: "pure-button pure-button-primary" %>
        </ul>
    </div>
</div>

<div class="splash-container">
  <div class="teacher-splash">

    <h1 class="teacher-splash-head">STUDENT DASHBOARD</h1>

    <div id='student_button'>
      <%= render 'score_table'%>
    </div>

  </div>
</div>
