<h1>Student Dashboard</h1>
<h3>Raise your hand anonymously!</h3>

<tbody>
  <tr>
    <% (1..6).each do |counter| %>
      <td><%= button_to counter, student_path(@current_user, student: {score: counter}), class: "score", method: :patch, remote: true %></td>

    <% end %>
  </tr>
</tbody>


<p><%= link_to 'LOGOUT', logout_path, method: :delete %></p>



<!-- * Add six buttons to the student_dashboard.
* All the buttons submit to the same action, with one param but with different values. params[:student][:score] == 4
* The one action can be students#update
* The trick is the redirect.
* On student dashboard, show one of the buttons as the selected one, based on the current user's score.

* AFTER THAT: Teacher can reset all scores. -->
