<h1><%= @topic.title %> Scores over Time</h1>

<svg id='topics-graph'></svg>

<script>
  var data = <%= @topic.all_scores.to_json.html_safe %>

  // Sample Output
  // [{date: "1-May-12", close: 20},
  //   {date: "4-May-12", close: 30},
  //   {date: "7-May-12", close: 10}]
</script>
