.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
//bar graph
.area {
  fill: lightgrey;
  stroke: grey;
}


.bar {
  fill: lightgrey;
  stroke: grey;
}

.bar:hover {
  stroke: #538cc5;
  fill: #6699cc;
}

.axis {
  font: 10px sans-serif;
}

.x.axis path
.axis line {
  display: none;
}

.top-line {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}

text {
  font-family: "Lato";
  font-size: 14px;
}

#teacher-bar-graph {
  margin-top: 13px;
}
