.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
//bar graph
.area {
  fill: #c8d7e9;
}


.bar {
  fill: #c8d7e9;
  stroke: grey;
}

.bar:hover {
  fill: red;
}

.axis {
  font: 10px sans-serif;
}

.x.axis path
.axis line {
  display: none;
}

.top-line {
  fill: none;
  stroke: #243d5b;
  stroke-width: 1.5px;
}
