.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
//bar graph
.area {
  fill: steelblue;
}


.bar {
  fill: #1682f0;
  stroke: grey;
}

.bar:hover {
  fill: #0fb27f ;
}

.axis {
  font: 10px sans-serif;
}

.x.axis path
.axis line {
  display: none;
}
