// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-student-label {
  color: #1f8dd6;
}

.field {
  text-align: left;
}

.name {
  color: #ffffff;
  font-size: 20px;
  font-weight: lighter;
  text-align: left;

}

.email {
  color: #ffffff;
  font-size: 20px;
  font-weight: lighter;
  text-align: left;
}

.password {
  color: #ffffff;
  font-size: 20px;
  font-weight: lighter;
  text-align: left;
}

.student {
  color: #000000;
  text-align: left;
  text-color: #808080;
  height: 66px;
    input {
      background-color: grey;
      border-radius: 7px;
      }
}
