// Place all the styles related to the Teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-bar-left:link, .nav-bar-left:visited {
    display: block;
    width: 100px;
    font-family: "Lato";
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #2f5984;
    text-align: center;
    margin-top: 2px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
    text-transform: uppercase;
    float: left;
}

// .nav-bar-left:hover, .nav-bar-left:active {
//     background-color: #6699CC;
// }

.profile-right:link, .profile-right:visited {
    display: block;
    width: 180px;
    font-family: "Lato";
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #2f5984;
    text-align: center;
    margin-top: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
}

.nav-bar-right:link, .nav-bar-right:visited {
    display: block;
    width: 135px;
    font-family: "Lato";
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #2f5984;
    text-align: center;
    margin-top: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
}

// .nav-bar-right:hover, .nav-bar-right:active {
//     background-color: #6699CC;
// }

.edit_teacher {
  display: inline-block;
}

.teacher-nav-head {
    font-family: "Lato";
    font-size: 16px;
    color: #fff;
    margin-top: 2px;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
}

.teacher-splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 70%;
    margin: auto;
    position: absolute;
    top: -100px; left: 0; bottom: 0; right: 0;
    text-align: center;
}

.teacher-splash-head {
    font-size: 50px;
    font-family: "Lato";
    font-weight: bold;
    color: black;
    padding-top: 30px;
    padding-bottom: 10px;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.avg-heading {
    font-family: "Lato";
    font-size: 30px;
    color: black;
    display: block;
    padding-top: 50px;
    padding-bottom: 15px;
}

.teacher-score {
    font-family: "Lato-black";
    font-size: 200px;
    color: red;
    margin-top: 60px;
    margin-bottom: 90px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.score-count {
    font-family: "Lato";
    font-size: 25px;
    color: #808080;
    margin-top: 10px;
    margin-bottom: 0px;
}

.empty-topic {
  font-family: "Lato";
  font-size: 30px;
  color: #808080;
  margin-top: 70px;
  margin-bottom: 50px;
}

.dropdown {
  font-size: 200px;
}

.actions {
  margin-top: 20px;
}

.teacher-button-primary {
    background: #6699CC;
    color: white;
    border-radius: 5px;
    font-size: 118%;
    margin-top: 19px;
    margin-bottom: 30px;
    margin-left: 10px;

    &:hover {
      color: #fff;
      background-color: #538cc5;
    }
}

input.teacher-button-primary {
    background: #6699CC;
    color: white;
    border-radius: 5px;
    font-size: 118%;
    margin-bottom: 30px;
    margin-left: 10px;

    &:hover {
      color: #fff;
      background-color: #538cc5;
    }
}

.teacher-row {
  margin-top: 50px;
  display: block;
}

.teacher-edit-labels {
  font-family: "Lato";
  font-size: 24px;
  font-weight: bold;
}

input.form-control {
  margin-right: 50px;
  margin-left: 10px;
  height: 35px;
  font-size: 16px;
}

.edit-teacher-button {
    background: #6699CC;
    color: white;
    border-radius: 5px;
    font-size: 118%;
    margin-top: 70px;
    margin-bottom: 31px;
    margin-left: 0px;

    &:hover {
      color: #fff;
      background-color: #538cc5;
    }
}

select {
  height: 20px;
}

#teacher-bar-graph {
  display: inline-block;
}

.topic-progress {
  height: 70px;
}


#teacher_score_1 {
  color: hsl(0, 50, 50);
}

#teacher_score_2 {
  color: hsl(24, 50, 50);
}

#teacher_score_3 {
  color: hsl(48, 50, 50);
}

#teacher_score_4 {
  color: hsl(72, 50, 50);
}

#teacher_score_5 {
  color: hsl(96, 50, 50);
}

#teacher_score_6 {
  color: hsl(120, 50, 50);
}

.select-class {
  font-size: 1.6em;
  height: 1.6em;
  -webkit-appearance: menulist-button;
}
