// NAV BAR //
.topic-nav-left:link, .topic-nav-left:visited {
    display: block;
    width: 120px;
    font-family: "Lato";
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #2f5984;
    text-align: center;
    margin-top: 2px;
    margin-right: 10px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
    text-transform: uppercase;
    float: left;
}

// BODY //
.topics-splash-head {
    font-size: 50px;
    font-family: "Lato-regular";
    font-weight: bold;
    color: black;
    padding-top: 30px;
    padding-bottom: 10px;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 50px;
}

.topics-splash-head {
    font-size: 50px;
    font-family: "Lato-regular";
    font-weight: bold;
    color: black;
    padding-top: 30px;
    padding-bottom: 10px;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 50px;
}

.new-topic-head {
    font-size: 50px;
    font-family: "Lato-regular";
    font-weight: bold;
    color: black;
    padding-top: 30px;
    padding-bottom: 10px;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}

.topic-splash {
    /* absolute center .splash within .splash-container */
    width: 100%;
    height: 70%;
    margin: auto;
    position: absolute;
    top: -100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    margin-left: 34px;
}

.topics-table-container {
  width: 300px;
  text-align: left;
  margin-top: 25px;
  margin-left: 38px;
  float: left;
}

.topics-table {
  width: 500px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: left;
}

.topic-row {
  margin-top: 30px;
  display: block;
  text-align: left;
}

.topics-page {
  width: 220px;
  font-size: 20px;
}

.topic-edit-labels {
  font-family: "Lato";
  font-size: 24px;
  font-weight: bold;
  margin-right: 30px;
}

.topic-submit {
  display: block;
  text-align: left;
}

.topic-button-primary {
    background: #6699CC;
    color: white;
    border-radius: 5px;
    font-size: 118%;
    margin-bottom: 31px;
    margin-left: 12px;
    float: left;

    &:hover {
      color: #fff;
      background-color: #538cc5;
    }
}

.edit-topic-button {
    background: #6699CC;
    color: white;
    border-radius: 5px;
    font-size: 118%;
    margin-top: 50px;
    margin-bottom: 31px;

    &:hover {
      color: #fff;
      background-color: #538cc5;
    }
}

.topic-delete-button {
    background: #cf7171;
    color: white;
    border-radius: 5px;
    font-size: 118%;
    margin-top: 50px;
    margin-bottom: 31px;
    margin-right: 15px;

    &:hover {
      color: #fff;
      background-color: #cb6767;
    }
}

.topics-graph-title {
    font-family: "Lato-regular";
    font-size: 40px;
    font-weight: bold;
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 100;
    text-align: center;
    border-radius: 5px;
    line-height: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 300px;
}

// D3 GRAPH //
.svg{
  width: 1000px;
  height: 500px;
  border: 1px solid lightgrey;

}
