
.topic-nav-left:link, .topic-nav-left:visited {
    display: block;
    width: 200px;
    font-family: "Lato";
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #2f5984;
    text-align: center;
    margin-top: 2px;
    margin-right: 10px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
    text-transform: uppercase;
    float: left;
}

.topic-button-primary {
    background: #6699CC;
    color: white;
    border-radius: 5px;
    font-size: 118%;
    margin-bottom: 31px;
    margin-left: 12px;

    &:hover {
      color: #fff;
      background-color: #538cc5;
    }
}

.svg{
  width: 1000px;
  height: 500px;
  border: 1px solid lightgrey;

}
